header {
    text-align: right;
}

h1 {
    text-align: center;
}

.main {
    text-align: center;
}

.button {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

li button {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #4ecbf5;
    color: white;
}
